<mat-card>
  <mat-card-title>Template-Based</mat-card-title>
  <mat-card-content>
    <p>Man kann im Template die Input-Felder gruppieren, in dem beliebige HTML-Elemente mit "ngModelGroup" und einem Namen austatttet.</p>
    <p>Zugriff auf diese Gruppen im Template bekommt man mit Referenz auf #userModel="ngModelGroup".</p>
    <p>Zugriff auf nur ein Input-Feld Model bekommt man mit Referenz auf #inputField="ngModel"</p>

  </mat-card-content>
</mat-card>

<div style="margin-top: 10px;"></div>

<form (ngSubmit)="onSubmit(form)" #form="ngForm">

  <div ngModelGroup="user" #userModel="ngModelGroup">
    <div *ngIf="userModel.invalid && userModel.touched">Invalid User-Group</div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="surname" ngModel required #surname="ngModel">
      <span *ngIf="surname.invalid && surname.touched">Invalid User Field</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput name="name" ngModel>
    </mat-form-field>
  </div>
  <div ngModelGroup="details">
    <mat-form-field>
      <mat-label>Straße</mat-label>
      <input matInput name="street" ngModel>
    </mat-form-field>
  </div>
  <button mat-button color="primary" [disabled]="form.invalid" type="submit">Submit</button>
</form>

<div *ngIf="user">
  <div>user: {{user.name}} vorname: {{user.vorname}}</div>
  <div>strasse: {{user.strasse}}</div>
</div>
