<mat-toolbar class="mat-elevation-z8">
  <button mat-button class="menu-button" (click)="menuopen=!menuopen">
    <mat-icon>menu</mat-icon>
  </button>
  Angular-Documentation
  <mat-divider></mat-divider>
</mat-toolbar>

<mat-sidenav-container class="container-fluid" style="height:91%;">

  <mat-sidenav [opened]="menuopen" mode="side" class="col-md-2" style="height: 100%;">
    <div>
      <div style="padding: 8px;">
        <div>
          <h2 routerLinkActive="actvive-sub">Basic</h2>
          <div>
            <button mat-button routerLink="basic/cli" routerLinkActive="mat-raised-button mat-accent">CLI</button>
          </div>
          <div>
            <button mat-button routerLink="basic/structure" routerLinkActive="mat-raised-button mat-accent">Struktur</button>
          </div>
          <div>
            <button mat-button routerLink="basic/databinding" routerLinkActive="mat-raised-button mat-accent">DataBinding</button>
          </div>
          <div>
            <button mat-button routerLink="basic/directives" routerLinkActive="mat-raised-button mat-accent">Directives</button>
          </div>

        </div>

        <div style="margin-top: 10px;">
          <!--          <h2 style="border: 1px solid green;">Forms          </h2>-->
          <div>
            <button mat-button routerLink="forms" routerLinkActive="mat-raised-button mat-accent">Forms</button>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content mat-elevation-z8" [ngClass]="this.menuopen ? 'col-md-10':'col-md-12'">
    <!--    <div class="content mat-elevation-z8">-->
    <router-outlet></router-outlet>
    <!--    </div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
