<mat-card>
    <mat-card-title matTooltip="Select Directive">Directives</mat-card-title>
    <mat-card-content>
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="ngclass" routerLinkActive #rlclass="routerLinkActive" [active]="rlclass.isActive">ngClass</a>
            <a mat-tab-link routerLink="ngfor" routerLinkActive #rfor="routerLinkActive" [active]="rfor.isActive">ngFor</a>
            <a mat-tab-link routerLink="ngif" routerLinkActive #rlif="routerLinkActive" [active]="rlif.isActive">ngIf</a>
            <a mat-tab-link routerLink="ngstyle" routerLinkActive #rstyle="routerLinkActive" [active]="rstyle.isActive">ngStyle</a>
            <a mat-tab-link routerLink="ngswitch" routerLinkActive #rswitch="routerLinkActive" [active]="rswitch.isActive">ngSwitch</a>
            <a mat-tab-link routerLink="custom" routerLinkActive #rcustom="routerLinkActive" [active]="rcustom.isActive">custom</a>
        </nav>
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>


