<mat-card>
  <mat-card-title>Forms</mat-card-title>
  <mat-card-content>
    <h3>Vorraussetungen : </h3>
    <mat-list>
      <mat-list-item>FormsModel in app.module.ts</mat-list-item>
      <mat-list-item>&lt;form&gt;-Tags im Templates</mat-list-item>
      <mat-list-item>&lt;input&gt;-Tags mit befülltem "name" attribute</mat-list-item>
      <mat-list-item>ngModel als Attribute für &lt;input&gt;/&lt;select&gt;-Element</mat-list-item>
      <mat-list-item>Event (ngSubmit) auf &lt;form&gt; verwenden, um Submit abzufangen.</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Unterthema auswählen</mat-card-title>
  <mat-card-content>
    <div>
      <form (ngSubmit)="changePage(forms)" #forms="ngForm">
        <div>
          <mat-radio-group aria-label="Select an option" name="selection" [ngModel]="selected" required>
            <mat-radio-button value="template" style="padding-right: 20px;">Template</mat-radio-button>
            <mat-radio-button value="patch" style="padding-right: 20px;">Patch ngModel-Werte</mat-radio-button>
            <mat-radio-button value="other" style="padding-right: 20px;">Option 2</mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button type="submit" color="primary" [disabled]="forms.invalid">Open Page</button>
        </div>
      </form>
    </div>

  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>

